Сампо/Connected Services/HostingSampo/ForOrganizators.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ForOrganizators" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IForOrganizators_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/%D0%A1%D0%B0%D0%BC%D0%BF%D0%BE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IForOrganizators_AuthorizationWithLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationWithLogin" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_AuthorizationWithLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationWithLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_AuthorizationWithIDsha_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationWithIDsha" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_AuthorizationWithIDsha_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationWithIDshaResponse" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_GetPartners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartners" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_GetPartners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnersResponse" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_GetSampoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSampoList" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_GetSampoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSampoListResponse" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_GetSampo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSampo" />
  </wsdl:message>
  <wsdl:message name="IForOrganizators_GetSampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSampoResponse" />
  </wsdl:message>
  <wsdl:portType name="IForOrganizators">
    <wsdl:operation name="AuthorizationWithLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IForOrganizators/AuthorizationWithLogin" message="tns:IForOrganizators_AuthorizationWithLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForOrganizators/AuthorizationWithLoginResponse" message="tns:IForOrganizators_AuthorizationWithLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizationWithIDsha">
      <wsdl:input wsaw:Action="http://tempuri.org/IForOrganizators/AuthorizationWithIDsha" message="tns:IForOrganizators_AuthorizationWithIDsha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForOrganizators/AuthorizationWithIDshaResponse" message="tns:IForOrganizators_AuthorizationWithIDsha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <wsdl:input wsaw:Action="http://tempuri.org/IForOrganizators/GetPartners" message="tns:IForOrganizators_GetPartners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForOrganizators/GetPartnersResponse" message="tns:IForOrganizators_GetPartners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSampoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IForOrganizators/GetSampoList" message="tns:IForOrganizators_GetSampoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForOrganizators/GetSampoListResponse" message="tns:IForOrganizators_GetSampoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSampo">
      <wsdl:input wsaw:Action="http://tempuri.org/IForOrganizators/GetSampo" message="tns:IForOrganizators_GetSampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForOrganizators/GetSampoResponse" message="tns:IForOrganizators_GetSampo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IForOrganizators" type="tns:IForOrganizators">
    <wsp:PolicyReference URI="#NetTcpBinding_IForOrganizators_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AuthorizationWithLogin">
      <soap12:operation soapAction="http://tempuri.org/IForOrganizators/AuthorizationWithLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizationWithIDsha">
      <soap12:operation soapAction="http://tempuri.org/IForOrganizators/AuthorizationWithIDsha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <soap12:operation soapAction="http://tempuri.org/IForOrganizators/GetPartners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampoList">
      <soap12:operation soapAction="http://tempuri.org/IForOrganizators/GetSampoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampo">
      <soap12:operation soapAction="http://tempuri.org/IForOrganizators/GetSampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForOrganizators">
    <wsdl:port name="NetTcpBinding_IForOrganizators" binding="tns:NetTcpBinding_IForOrganizators">
      <soap12:address location="net.tcp://localhost:8889/ForOrganizators.ForOrganizators" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8889/ForOrganizators.ForOrganizators</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-ELQ12AO\Володя</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>