Сампо/Connected Services/HostingSampo/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ForOrganizators.Models" />
  <xs:element name="AuthorizationWithLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationWithLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationWithLoginResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ForOrganizators.Models" minOccurs="0" name="partner" nillable="true" type="q1:Partner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationWithIDsha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDsha" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationWithIDshaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationWithIDshaResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForOrganizators.Models" minOccurs="0" name="partner" nillable="true" type="q2:Partner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ForOrganizators.Models" minOccurs="0" name="GetPartnersResult" nillable="true" type="q3:ArrayOfPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForOrganizators.Models" minOccurs="0" name="GetSampoListResult" nillable="true" type="q4:ArrayOfSampo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ForOrganizators.Models" minOccurs="0" name="GetSampoResult" nillable="true" type="q5:Sampo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>