Сампо/Connected Services/HostingSampo/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/%D0%A1%D0%B0%D0%BC%D0%BF%D0%BE.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/%D0%A1%D0%B0%D0%BC%D0%BF%D0%BE.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Partner">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseVM">
        <xs:sequence>
          <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IDsha" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" type="xs:int" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Partner" nillable="true" type="tns:Partner" />
  <xs:complexType name="BaseVM">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseVM" nillable="true" type="tns:BaseVM" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfPartner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partner" nillable="true" type="tns:Partner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartner" nillable="true" type="tns:ArrayOfPartner" />
  <xs:complexType name="ArrayOfSampo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sampo" nillable="true" type="tns:Sampo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampo" nillable="true" type="tns:ArrayOfSampo" />
  <xs:complexType name="Sampo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseVM">
        <xs:sequence>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Entitling" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Organizator" type="xs:int" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="Rules" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Sampo" nillable="true" type="tns:Sampo" />
</xs:schema>